@use 'variaveis';

.shows {
    position: relative;
    height: 371px;

    &__tabs {
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 10px;

        &__button {
            color: variaveis.$secondaryColor;
            background-color: transparent;
            font-size: 20px;
            line-height: 1.4;
            border: none;
            border-bottom: 3px solid transparent;
            padding-bottom: 15px;
            margin-right: 40px;
            cursor: pointer;

            &--is--active {
                border-color: variaveis.$primaryColor;
                color: variaveis.$primaryColor;
            }

            &:hover {
                color: variaveis.$secondaryColor;
                border-color: variaveis.$secondaryColor;
            }
        }
    }
}